.direnv
*.bin
*.json
*.jsonl
SHA256SUMS
*.bz2
caligula*
pid
*.data
*.old

.idea/

.vscode/*
!.vscode/extensions.json

/target
*.log
*.img
*.iso
*.zst
*.xz
*.lz4
*.gz
*.o
*.a

result
result-info
result-man

.nixos-test-history

*.sock