name: "Publish pipeline"

on:
  push:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  aur-publish:
    name: Publish to AUR
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: cachix/cachix-action@v16
        with:
          name: astralbijection
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Generate PKGBUILD
        run: |
          nix build .#caligula-bin-aur
          cat result/PKGBUILD
          cp result/PKGBUILD .

      - name: Publish AUR package
        uses: KSXGitHub/github-actions-deploy-aur@v2
        if: ${{ github.event_name == 'workflow_dispatch' || github.event_name == 'release' }}
        with:
          pkgname: caligula-bin
          pkgbuild: ./PKGBUILD
          commit_username: ifd3f
          commit_email: astrid@astrid.tech
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
          commit_message: Update AUR package
          ssh_keyscan_types: rsa,dsa,ecdsa,ed25519

  deb-publish:
    name: Upload Debian Package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Install cargo-deb
        run: cargo install cargo-deb

      - name: Build Debian package
        run: cargo deb

      - name: Upload .deb to GitHub Release
        if: ${{ github.event_name == 'release' && github.event.action == 'published' }}
        uses: softprops/action-gh-release@v2
        with:
          files: target/debian/*.deb
